@extends('layouts.app')

@section('content')
{% set lcount = 1 %}
{% for i in play_hosts | sort %}
{% if i == item %}

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Ubuntu 16 - Audit Result</a>
            </li>
            <li class="breadcrumb-item active">{{ i }}</li>
          </ol>
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Audit Result / Ref. CIS Standard</div>
            <div class="card-body">
            <!-- Summary Result -->
            <div id="barchart_material" style="width: 100%; height: 5%;"></div>
            <!-- END - Summary Result -->
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tr>
                      <th>#</th>
                      <th>Host</th>
                      <th>Description</th>
                      <th>Result</th>
                      <th>Evidence</th>
                    </tr>
      <tbody>
        {% set passed = ( passed | default(0) ) %}
        {% set failed = ( failed | default(0) ) %}
        <!-- CIS 1.1.1.6 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure mounting of udf filesystems is disabled</td>
              <td>
              <!-- Pass/Failed -->
                {% if hostvars[i]['CIS_1.1.1.6']['stdout_lines'] == [] %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_1.1.1.6']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 1.1.1.6 -->


        <!-- CIS 1.2.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure package manager repositories are configured</td>
              <td>
              <!-- Pass/Failed -->
                  <p style="color:orange; font-weight:bold;">N/A</p>
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_1.2.1']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 1.2.1 -->

        <!-- CIS 1.3.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure AIDE is installed</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'install ok installed' in hostvars[i]['CIS_1.3.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_1.3.1']['stderr'] }}</td>
            </tr>
        <!-- END CIS 1.3.1 -->

        <!-- CIS 1.4.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure permissions on bootloader config are configured</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'Access: (0400' in hostvars[i]['CIS_1.4.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_1.4.1']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 1.4.1 -->

        <!-- CIS 1.5.4 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure prelink is disabled</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'install ok installed' in hostvars[i]['CIS_1.5.4']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_1.5.4']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 1.5.4 -->

        <!-- CIS 1.6.1.3 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure SELinux policy is configured</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'ubuntu' in hostvars[i]['CIS_1.6.1.3']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_1.6.1.3']['stderr'] }}</td>
            </tr>
        <!-- END CIS 1.6.1.3 -->

        <!-- CIS 1.7.1.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure message of the day is configured properly</td>
              <td>
              <!-- Pass/Failed -->
                  <p style="color:orange; font-weight:bold;">N/A</p>
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_1.7.1.1']['stderr'] }}</td>
            </tr>
        <!-- END 1.7.1.1 -->

        <!-- CIS 1.8 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure updates, patches, and additional security software are installed</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'following packages have been kept back' in hostvars[i]['CIS_1.8']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_1.8']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 1.8 -->

        <!-- CIS 2.1.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>inetd Services</td>
              <td>
              <!-- Pass/Failed -->
                {% if hostvars[i]['CIS_2.1.1']['stdout_lines'] == [] %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_2.1.1']['stderr']  }}</td>
            </tr>
        <!-- END CIS 2.1.1 -->

        <!-- CIS 2.2.1.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure time synchronization is in use</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'chrony-' in hostvars[i]['CIS_2.2.1.1']['stdout_lines'] | join(', ') or 'ntp-' in hostvars[i]['CIS_2.2.1.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_2.2.1.1']['stderr'] }}</td>
            </tr>
        <!-- END CIS 2.2.1.1 -->

        <!-- CIS 2.3.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure NIS Client is not installed</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'is not installed' in hostvars[i]['CIS_2.3.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_2.3.1']['stderr']  }}</td>
            </tr>
        <!-- END CIS 2.3.1 -->

        <!-- CIS 3.1.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure IP forwarding is disabled</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'net.ipv4.ip_forward = 0' in hostvars[i]['CIS_3.1.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_3.1.1']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 3.1.1 -->

        <!-- CIS 3.2.6 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure IP forwarding is disabled</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'icmp_ignore_bogus_error_responses = 1' in hostvars[i]['CIS_3.2.6']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_3.2.6']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 3.2.6 -->

        <!-- CIS 3.3.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure IPv6 router advertisements are not accepted</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'accept_ra = 0' in hostvars[i]['CIS_3.3.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_3.3.1']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 3.3.1 -->

        <!-- CIS 3.4.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure TCP Wrappers is installed</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'tcp_wrappers-' in hostvars[i]['CIS_3.4.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_3.4.1']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 3.4.1 -->

        <!-- CIS 3.5.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure DCCP is disabled</td>
              <td>
              <!-- Pass/Failed -->
                {% if hostvars[i]['CIS_3.5.1']['stdout_lines'] == [] %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_3.5.1']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 3.5.1 -->

        <!-- CIS 3.6.2 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure default deny firewall policy</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'Chain INPUT (policy DROP)' in hostvars[i]['CIS_3.6.2']['stdout_lines'] | join(', ') and 'Chain FORWARD (policy DROP) ' in hostvars[i]['CIS_3.6.2']['stdout_lines'] | join(', ') and 'Chain OUTPUT (policy DROP)' in hostvars[i]['CIS_3.6.2']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_3.6.2']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 3.6.2 -->

        <!-- CIS 3.7 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure wireless interfaces are disabled</td>
              <td>
              <!-- Pass/Failed -->
                  <p style="color:orange; font-weight:bold;">N/A</p>
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_3.7']['stderr'] }}</td>
            </tr>
        <!-- END CIS 3.7 -->

        <!-- CIS 4.2.1.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure rsyslog Service is enabled</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'enabled' in hostvars[i]['CIS_4.2.1.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_4.2.1.1']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 4.2.1.1 -->

        <!-- CIS 4.2.3 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure rsyslog or syslog-ng is installed</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'syslog-ng-' in hostvars[i]['CIS_4.2.3']['stdout_lines'] | join(', ') or 'rsyslog-' in hostvars[i]['CIS_4.2.3']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_4.2.3']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 4.2.3 -->

        <!-- CIS 5.1.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure cron daemon is enabled</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'enabled' in hostvars[i]['CIS_5.1.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_5.1.1']['stderr'] }}</td>
            </tr>
        <!-- END CIS 5.1.1 -->

        <!-- CIS 5.2.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure permissions on /etc/ssh/sshd_config are configured</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'Access: (0600' in hostvars[i]['CIS_5.2.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_5.2.1']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 5.2.1 -->

        <!-- CIS 5.3.4 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure password hashing algorithm is SHA-512</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'pam_unix.so sha512' in hostvars[i]['CIS_5.3.4']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_5.3.4']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 5.3.4 -->

        <!-- CIS 5.4.1.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure password expiration is 365 days or less</td>
              <td>
              <!-- Pass/Failed -->
                {% if '90' in hostvars[i]['CIS_5.4.1.1']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_5.4.1.1']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 5.4.1.1 -->

        <!-- CIS 5.6 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure access to the su command is restricted</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'auth required pam_wheel.so use_uid' in hostvars[i]['CIS_5.6']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_5.6']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 5.6 -->

        <!-- CIS 6.1.2 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure permissions on /etc/passwd are configured</td>
              <td>
              <!-- Pass/Failed -->
                {% if 'Access: (0644' in hostvars[i]['CIS_6.1.2']['stdout_lines'] | join(', ') %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                  <p style="color:red; font-weight:bold;">Failed</p>
                {% endif %}
              <!-- End Pass/Failed -->
              </td>
              <td>{{ hostvars[i]['CIS_6.1.2']['stdout_lines'] | join(', ') }}</td>
            </tr>
        <!-- END CIS 6.1.2 -->

        <!-- CIS 6.2.1 -->
            <tr>
              <th scope="row">{{ lcount }}</th>
              {% set lcount = lcount + 1 %}
              <td>{{ i }}</td>
              <td>Ensure password fields are not empty</td>
              <td>
              <!-- Pass/Failed -->
                {% if hostvars[i]['CIS_6.2.1']['stdout_lines'] == [] %}
                {% set passed = ( passed | default(0) ) + 1 %}
                  <p style="color:green; font-weight:bold;">Pass</p>
                {% else %}
                {% set failed = ( failed | default(0) ) + 1 %}
                    <p style="color:red; font-weight:bold;">Failed</p>
                  {% endif %}
                <!-- End Pass/Failed -->
                </td>
                <td>{{ hostvars[i]['CIS_6.1.2']['stdout_lines'] | join(', ') }}</td>
              </tr>
          <!-- END CIS 6.2.1 -->
            </tbody>
          </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Summary', 'Passed', 'Failed'],
                ['Hosts', {{ passed }}, {{ failed }}]
              ]);

              var options = {
                chart: {
                  title: 'Summary Audit Result',
                  subtitle: '',
                },
                bars: 'horizontal'
              };

              var chart = new google.charts.Bar(document.getElementById('barchart_material'));

              chart.draw(data, google.charts.Bar.convertOptions(options));
            }

            window.onload = drawChart;
            window.onresize = drawChart;
          </script>
{% endif %}
{% endfor %} 
@endsection